html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
q {
	quotes: none;
}
/* Framework */
.row {
	width: 100%;
	max-width: 940px;
	min-width: 720px;
	margin: 0 auto;
	padding:0 auto;
}
/* To fix the grid into a different size, set max-width to your desired width */
.row .row {
	min-width: 0px;
}
 [class*="column"] + [class*="column"]:last-child {
 float: right;
}
.row:before, .row:after, .clearfix:before {
	content: "";
	display: table;
}
.row:after, .clearfix:after {
	clear: both;
}
p{
	font-family:Times New Roman;
	font-size:17px;
	line-height:23px;
}

/* Web Fonts */
@font-face {
	font-family: 'BebasNeueRegular';
	src: url('BebasNeue-webfont.eot');
	src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('BebasNeue-webfont.woff') format('woff'), url('BebasNeue-webfont.ttf') format('truetype'), url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

/* Body and Wrapper */
body {
	background: #eee url(../images/bg.png);
	font: 13px/18px 'Open Sans', sans-serif;
	color: #4b4b4b;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: subpixel-antialiased;
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
}
.wrapper {
	background: #F5F5F5;
	background: rgba(245, 245, 245, 0.75);
	margin: 50px auto;
	width: 960px;
	padding: 0 25px;
	border: 1px solid #FFFFFF;
	-webkit-box-shadow: #444 0px 0px 7px;
	-moz-box-shadow: #444 0px 0px 7px;
	box-shadow: #444 0px 0px 7px;
}

/* Trannsitions */
nav li a, .links li a, .image{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	color: #403D3A;
	/*font-family: 'Open Sans', sans-serif;*/
	line-height: normal;
	/*font-variant: small-caps;*/
}
h1 {
	font-size: 46px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 21px;
	margin: 10px 0;
}
h5 {
	font-size: 18px;
	font-weight: normal;
}
h6 {
	font-size: 15px;
	font-weight: normal;
}
a {
	color: #5593ca;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/*header*/
header h1 {
	/*font: 50px/80px 'BebasNeueRegular', sans-serif;*/
	font: 50px/80px ;
	color: #5593ca;
	text-align: center;
	margin: 5px 0 0 0;
	font-family:Times New Roman;
}
.author{
	margin:0px auto;
	padding:0px;
	text-align:center;
}
.school{
	margin:0px auto;
	padding:0px;
	text-align:center;
}
.session{
	margin:0px auto;
	padding:0px;
	text-align:center;
}
sup{
	vertical-align: super;
	font-size: smaller;
}

/* Navigation */
.nav-container {
	margin-bottom: 10px;
	width: 100%;
	margin-right: -2em;
}
nav {
	z-index: 42;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 1042px;
	padding: 1em 3em;
	margin-left: -41px;
	background: #5593ca;
	position: relative;
	border-top-left-radius: 1em 0.5em;
	border-top-right-radius: 1em 0.5em;
}
.nav-left {
	position: absolute;
	left: 0;
	bottom: -14px;
	width: 14px;
	height: 14px;
	background: #5593ca;
	border-bottom-left-radius: 100% 50%;
}
.nav-left:after {
	content: '';
	position: absolute;
	right: 0;
	width: 66%;
	height: 66%;
	background: #333;
	border-top-left-radius: 100% 50%;
	border-bottom-left-radius: 100% 50%;
}
.nav-right {
	position: absolute;
	right: 0;
	bottom: -14px;
	width: 14px;
	height: 14px;
	background: #5593ca;
	border-bottom-right-radius: 100% 50%;
}
.nav-right:after {
	content: '';
	position: absolute;
	left: 0;
	width: 66%;
	height: 66%;
	background: #333;
	border-top-right-radius: 100% 50%;
	border-bottom-right-radius: 100% 50%;
}
nav li {
	display: inline;
	list-style: none;
}
nav li a {
	color: #F5F5F5;
	font: 20px/20px 'BebasNeueRegular', sans-serif;
	width: 5em;
	text-align: center;
	padding: .5em 1em;
	margin-left: -2px;
}
nav li a:hover, nav li a.selected {
	background: #36638a;
	text-decoration: none;
}

/* General Styling */
section {
	clear: both;
}
hr {
	width: 100%;
	display: block;
	height: 1px;
	border: none;
	outline: none;
	clear: both;
	background: #5593ca;
	margin: 2em 0;
}

/*links*/
.links {
	list-style: none;
	padding: 0;
	display: inline;
	clear: both;
	float: left;
	border-left: 1px dotted #888;
	margin: 10px 0;
	font-family:Times New Roman;
	font-size:15px;
}
.links li {
	padding: 0;
	margin: 0;
	display: inline;
	position: relative;
	float: left;
	clear: both;
	border-left: none;
}
.links li a {
	display: block;
	color: #4b4b4b;
	padding: 5px 20px;
	float: left;
}
.links li a:hover {
	background: rgba(0,0,0,0.10);
	padding-right: 35px;
	text-decoration: none;
}

/*dropcap*/
span.dropcap {
	float: left;
	line-height: 35px;
	font-size: 35px;
	margin: 0px 5px 0 0;
}

/*title*/
.title {
	color: #5593ca;
	font-family: 'BebasNeueRegular', sans-serif;
}
.subtitle{
	mso-margin-top-alt:auto;
	mso-margin-bottom-alt:auto;
	mso-list:l0 level1 lfo1;
	tab-stops:list 36.0pt;
}

#downloads li{
	list-style:none;
}

#supplementary ul{
	/*list-style:none;*/
	margin:5px 20px;
}
/* Boxes */
p.box, div.box {
	margin: 1em 0;
	padding: 9px 10px 9px 50px;
	border-width: 1px 0 1px 0;
	border-style: solid;
	color: #555;
	text-shadow: none;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.box.none {
	border-width: 0;
}
.box.full {
	border-width: 1px;
}
.box.medium {
	padding: 18px 20px 18px 50px;
	font-size: 1.1em;
}
.box.large {
	padding: 25px 27px 25px 50px;
	font-size: 1.2em;
}
.box.rounded {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.box.alert {
	border-color: #f0baa2;
	background: #ffd9c8 url(../images/content/alert.png) no-repeat 20px 45%;
}
.box.download {
	border-color: #d4ebaf;
	background: #edfcd5 url(../images/content/download.png) no-repeat 20px 45%;
}
.box.tick {
	border-color: #d4ebaf;
	background: #edfcd5 url(../images/content/tick.png) no-repeat 20px 45%;
}
.box.info {
	border-color: #ccc;
	background: #eee url(../images/content/info.png) no-repeat 20px 45%;
}
.box.note {
	border-color: #efe3ae;
	background: #fef6d2 url(../images/content/note.png) no-repeat 20px 45%;
}
.box.normal {
	border-color: #ccc;
	background: #eee;
	padding: 9px 15px;
}
#bibtex p{
	font-size:15px;
}
/* Footer */
footer {
	margin: 0 0 20px 0;
	height: 45px;
}
